input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 45px;
    box-sizing: border-box;
  }

  input[type=name]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 45px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #0400ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 45px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0035a7;
    content: "Submit";
  }
  
  div{
    border-radius: 5px;
    padding: 5px;
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 20%;
    position: absolute;
  }
  body{
    background-color: lightblue; 
  }
